#root{
  height: 100%;
}

.App {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

.nav{
  padding: 10px;
  display: block;
  width: 200px;
}

.nav-block,
.join-game-block,
.new-game-block,
.gameinfo-block{
  width: 200px;
  margin: auto;
  margin-top: 200px;
}

.join-game-block__input,
.new-game-block__input{
  width: 196px;
}
